[2016-08-04 05:36] mitzzz opened #1 "errors"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs', '/usr/bin/npm', 'run', 'webapp' ]
2 info using npm@2.15.8
3 info using node@v4.4.7
4 verbose run-script [ 'prewebapp', 'webapp', 'postwebapp' ]
5 info prewebapp ivreader@0.0.1
6 info webapp ivreader@0.0.1
7 verbose unsafe-perm in lifecycle true
8 info ivreader@0.0.1 Failed to exec webapp script
9 verbose stack Error: ivreader@0

[2016-08-04 12:47] gilmarion opened #2 "Wrong Port Referenced"
Your instructions say port 8080 for the webserver. The actual code uses 8008.

[2016-08-04 13:08] tegob opened #3 "Don’t require updating location"
https://www.reddit.com/r/pokemongodev/comments/4w2q51/i_wrote_a_tool_to_retrieve_your_pokemon_stats/d63ju3z

[2016-08-04 13:13] tegob opened #4 "Suggestion: add screenshot to README"

[2016-08-04 13:27] tegob opened #6 "Replace hardcoded local IP address with quick-local-ip"
https://github.com/Eric-Carlton/PokemonGoReader/blob/61850e62cd42a816a83e09d70aae7361bc4ed359/webapp/services/properties.service.ts#L5 contains a hardcoded network-local IP address.

Please consider using something like https://www.npmjs.com/package/quick-local-ip instead so that it works for people outside your home network. ;)

[2016-08-04 13:27] Eric-Carlton commented on #3
Just updated so that it no longer requires location

[2016-08-04 13:27] #3 closed

[2016-08-04 13:29] Eric-Carlton commented on #1
Have you tried updating node and npm?

[2016-08-04 13:30] Eric-Carlton commented on #6
I'll look into it, thanks!

[2016-08-04 13:30] Eric-Carlton commented on #2
Ah, the Node server used 8008. http-server - the server actually serving the web content - uses 8080 (:

[2016-08-04 13:30] #2 closed

[2016-08-04 15:55] edevnull opened #8 "Suggestion: button to transfer pokemon"
It would be neat if a button can be added which triggers an API call to PokemonGo to transfer the pokemon clicked. This would cleaning up a list of 200+ pokemons with lots of duplicates more easy as the app itself is not keen in this as you have to tab multiple times to do one transfer.

[2016-08-04 18:03] #6 closed

[2016-08-04 18:07] Eric-Carlton commented on #1
Are you running on Windows? If so, the clean script may not work for you. I'm looking for a cross platform solution, but for now you can just removed clean as a build step by going into package.json and changing this:

`"webapp": "npm run clean && tsc --outDir ./webapp/js && node ./node_modules/http-server/bin/http-server"`

to this:

` "webapp": "tsc --outDir ./webapp/js && node ./node_modules/ht

[2016-08-04 18:41] edevnull opened #9 "Suggestion: show moveset / DPS"
In the overview show the specific move-set a Pokemon has including with it's DPS. The IV is nice but sometimes you want to make a tradeoff in a moveset over IV.

[2016-08-04 18:51] Eric-Carlton opened #10 "Clean build step fails on non *nix machines"
I'll be looking for a cross-platform solution tonight. In the meantime, a workaround is to change the following line in package.json:

`"webapp": "npm run clean && tsc --outDir ./webapp/js && node ./node_modules/http-server/bin/http-server"`

to this:

` "webapp": "tsc --outDir ./webapp/js && node ./node_modules/http-server/bin/http-server"`

The same can be done to the webapp-dev script.

[2016-08-04 20:59] gilmarion opened #11 "Error when trying to log in using Google Account"
Apparently the google login ONLY works if you have two-step authentication. Attempted to log in with an account that did not and got the following error:
[0] [2016-08-04T20:45:04.711Z] ERROR: server.pokemonRoutes/27612 on digitally-inked:
[0]     err: Received code 403 from Google login. This could be because your account has 2-Step-Verification enabled. If that is the case, you need to generate a

[2016-08-04 21:00] gilmarion opened #12 "Suggestions: Downloadable spreadsheet"
Would be nice to be able to download the data as a .csv/.xlm file.

[2016-08-04 21:34] Eric-Carlton commented on #11
You only need the app password if you have 2FA enabled. My roommate - who doesn't have 2FA - logs in with his Google account all of the time. He just uses his regular password.

[2016-08-04 21:35] #10 closed

[2016-08-04 21:50] mitzzz commented on #1
Running on Ubuntu 16.04

[2016-08-04 21:52] #4 closed

[2016-08-04 21:55] gilmarion commented on #11
Weird. As I stated above, if I used the account that did not have 2fa enabled, i got the error message posted above. There were no issues with the 2fa enabled account.

[2016-08-04 22:11] Eric-Carlton commented on #8
Great idea! I'm going to work on this tonight

[2016-08-05 00:49] gilmarion commented on #11
Closing the issue. Tried it with a third account and it somehow worked? IDK.

[2016-08-05 00:49] #11 closed

[2016-08-05 01:10] AidanMcArdle opened #13 "Pokemon Breed Column"
I wonder if a simple add of a column with Pokemon breed names could be added. i.e. Bulbasaur, Ivysaur, etc. Most of my guys have statistical names, with the exception of brand new catches, and I'm sure I'm not the only one.

![Like so](http://i.imgur.com/h3ryJ6m.png)

Good work on this, it's simple and to the point and exactly what I wanted in an app.

[2016-08-05 01:29] AidanMcArdle commented on #13
Additionally, a column indicating the level of each mon (how far over on the arc/how many more times it could be powered up to max) would be something I'd be interested in.

[2016-08-05 04:07] #8 closed

[2016-08-05 04:14] #13 closed

[2016-08-05 04:24] Eric-Carlton opened #14 "Add max HP to stats table"

[2016-08-05 04:37] #14 closed

[2016-08-05 08:23] edevnull commented on #12
It would also be nice if the raw server protobuf/unpacked JSON could be written to disk for other tools to analyze the server responses.

[2016-08-05 08:26] edevnull commented on #8
I see it works however it takes quite some time to make the transfer (probably because the API is slow on their end). Maybe some loading/transferring indication would be nice.

[2016-08-05 09:01] edevnull opened #15 "Suggestion: (batch) rename pokemon"
I personally like to keep the names of the pokemon as default. It would be nice if trough the page you can rename a pokemon but also with a feature where you suffix the pokemon name with it's IV. Then sorting in the game remains unaffected but shows you easily which to powerup and which not.

Example: Snorlax if it has IV of 100 then option to rename it to Snorlax 100

[2016-08-05 09:11] edevnull opened #16 "Suggestion: table heading scrolls with screen"
When having lots of pokemon the list to scroll is long and hard to keep track of the column names. Would be neat if the table heading scrolls down with the page so that you always have the heading in sight.

Also, mouse high lighting on the active row and column would be handy

[2016-08-05 12:10] Eric-Carlton commented on #1
Hmm, you did run `npm install` in the project root directory, right?

[2016-08-05 12:22] cchiapusio commented on #1
I'm having the same issue on a freshly upgraded Fedora 24

[root@sabotage PokemonGoReader]# npm start

node_modules/@angular/core/src/application_ref.d.ts(79,88): error TS2304: Cannot find name 'Promise'.
node_modules/@angular/core/src/application_ref.d.ts(137,42): error TS2304: Cannot find name 'Promise'.
node_modules/@angular/core/src/application_ref.d.ts(196,33): error TS2304: Cannot find name

[2016-08-05 12:26] cchiapusio commented on #1
maybe the warning at the end of npm install are relevant?

npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.14
[root@sabotage PokemonGoReader]# npm install
npm WARN lifecycle ivreader@0.0.1~postinstall: cannot run in wd %s %s (wd=%s) ivreader@0.0.1 node ./node_modules/typings install /v

[2016-08-05 14:56] Eric-Carlton commented on #1
Honestly, it looks to me like you haven't run `npm install` before trying to start the app. Try a fresh pull and running `npm install` in the project root again.

[2016-08-05 15:39] cchiapusio commented on #1
So I went all the way here is the complete start-to-finish output from Fedora 24 w/ nodejs 6.3.1 installed: http://pastebin.com/swNczZ3k

[2016-08-05 15:59] Eric-Carlton opened #17 "Add visual cue that a Pokemon transfer is going through"
Right now when the transfer button is clicked, there is no way to know that it's working. This could be as simple as disabling the transfer button and changing the text to 'Transferring...' until the success / fail message comes back.  However, this would require a refactor to make each transfer button independent of the table.

[2016-08-05 17:25] Eric-Carlton commented on #1
@cchiapusio It looks like everything is fine right up until the typescript compilation.

Did the post install script complete successfully? You'd know if it did because it creates a typings directory. If not, try creating an empty typings directory and running `npm run postinstall`

[2016-08-05 17:34] cchiapusio commented on #1
running that command enabled the webapp to start up.  I did not have to create the directory (didn't know exactly where so I had created it in the wrong place anyways).

Thanks for the assist

[2016-08-05 17:53] Eric-Carlton commented on #1
Wonderful, sorry it took so long to get a resolution. @mitzzz does this resolve your issue as well?

[2016-08-05 21:33] #17 closed

[2016-08-06 04:00] mitzzz commented on #1
Can confirmed it did solve the problem on Ubuntu 16.04

[2016-08-06 12:24] eswak commented on #9
I'm going to implement this in my fork this week-end, not sure though if @Eric-Carlton will accept to merge it here, because I'm also doing some front-end changes (I really dislike the table layout, I'll go for a card list layout more like https://pokeadvisor.com).

[2016-08-06 13:30] Eric-Carlton commented on #1
Sweet!

[2016-08-06 13:30] #1 closed

[2016-08-06 13:31] Eric-Carlton commented on #9
@ewsak Submit a PR when your done and I'll have a look!

[2016-08-06 14:35] eswak commented on #9
Here it is : #18

[2016-08-07 21:57] Eric-Carlton commented on #16
Rendered unnecessary by #18

[2016-08-07 21:58] Eric-Carlton commented on #15
Added by #18

[2016-08-07 21:58] #15 closed

[2016-08-07 21:58] Eric-Carlton commented on #9
Added by #18

[2016-08-07 21:58] #9 closed

[2016-08-07 23:16] Eric-Carlton opened #19 "Bug: Cancel is broken on rename"

[2016-08-07 23:18] Eric-Carlton opened #20 "Enhancement: Add confirm dialog to transfer"

[2016-08-08 02:03] Eric-Carlton opened #21 "Bug: Show error in case of login failure instead of infinite 'Loading...'"

[2016-08-08 02:03] #19 closed

[2016-08-08 02:13] #21 closed

[2016-08-08 02:30] #20 closed

[2016-08-08 02:39] Eric-Carlton commented on #12
@edevnull This is probably better addressed by the [library I'm using to actually talk to Niantic](https://github.com/cyraxx/pogobuf). If you want to see the actual JSON written out, it may be best to write your own client with that. I think it's beyond the scope of this project.

[2016-08-08 03:51] Eric-Carlton opened #22 "Enhancement: Highlight moves that would add a STAB and calculate DPS with STAB where it applies"

[2016-08-08 04:00] Eric-Carlton opened #23 "Enhancement: Add config property to switch back to old table format"

[2016-08-08 04:15] Eric-Carlton opened #24 "Enhancement: Add CP Percentage stat"

[2016-08-08 04:16] Eric-Carlton opened #25 "Enhancement: Add Pokemon level as a stat"

[2016-08-08 04:32] #23 closed

[2016-08-08 04:37] Eric-Carlton commented on #16
And made necessary again by #23 (:

[2016-08-08 04:48] Eric-Carlton opened #26 "Enhancement: Add rename function to table layout"

[2016-08-08 04:49] Eric-Carlton opened #27 "Enhancement: Add HP icon to card layout"

[2016-08-08 04:58] Eric-Carlton opened #28 "Enhancement: Allow some settings to be changed from the UI and stored in LocalStorage"
Some settings ( table format, show transfer button, table columns, etc. ) could be edited from the UI and saved to LocalStorage so that modifying properties.service.ts isn't needed for the average user.

[2016-08-08 08:06] eswak opened #29 "Enhancement : Deploy to heroku button"
a ![deploy to heroku](https://www.herokucdn.com/deploy/button.svg) button would be cool, I've seen it on some github projects and it's really neat.

I see in the readme you're talking about "how I deploy this for my friends" etc, and with this button it's a few clicks setup to get a worldwide accessible url :-)

here is the doc from heroku.com: https://devcenter.heroku.com/articles/heroku-button

[2016-08-08 12:05] Eric-Carlton commented on #29
Unfortunately, [this won't work if deployed to Heroku](http://www.reddit.com/r/pokemongodev/comments/4vhygk/_/).

[2016-08-08 12:05] #29 closed

[2016-08-08 13:25] Eric-Carlton opened #30 "Enhancement: Add config option to hide rename button"

[2016-08-08 15:11] edevnull opened #31 "Suggestion: sorting on DPS pokemon"
Sort pokemon with highest DPS (high to low or vice versa)

[2016-08-08 15:15] edevnull opened #32 "Suggestion: renaming pokemon prompt default value current name"
When clicking on renew a window pops up but it would be nice if it holds the value of the current name so it is more easy if you only want to make a small adjustment. In my case I only want to add the number of the IV perfection.

Example: Weedle with IV perfection 100 would be Weedle100 but now I have to type in the full name each time.

[2016-08-08 15:27] hhu94 opened #33 "Suggestion: sort by recently caught"

[2016-08-08 15:44] hhu94 opened #34 "Bug: charge move for Dragonite is not displaying correctly"
It seems to only happen to Dragonite, none of its charge moves are marked.

![2016-08-08-08 44 12](https://cloud.githubusercontent.com/assets/7145349/17486067/4ecfe9a0-5d44-11e6-8d52-af23cc91d4af.png)

[2016-08-08 16:36] edevnull commented on #34
Same issue here:

<img width="392" alt="screen shot 2016-08-08 at 18 36 00" src="https://cloud.githubusercontent.com/assets/11859271/17487867/0d4db874-5d97-11e6-9cbe-39cd07d52aa7.png">

[2016-08-08 18:50] DanForbes commented on #12
FWIW, I found PogoBuf by browsing @Eric-Carlton's code. It took me about 5 minutes to write exactly the kind of program he describes above. You should give it a shot! [Take a quick look at his source code](https://github.com/Eric-Carlton/PokemonGoReader/blob/master/server/routes/pokemonRoutes.js#L34), then check out [PogoBuf](https://www.npmjs.com/package/pogobuf). It's fun!

[2016-08-08 19:00] Eric-Carlton commented on #34
I noticed this happening on some other moves as well. There must be some mismatch with the move ids retrieved and the data dump I'm using to map the names.

[2016-08-08 19:02] Eric-Carlton commented on #32
I don't like forcing a default option when there's a perfectly good solution already - just type it in to the existing nickname field.

This feels like it would piss people off who don't want their nicknames in that specific format, which I feel like may be the majority of users.

[2016-08-08 19:02] #32 closed

[2016-08-08 19:04] Eric-Carlton commented on #31
This is possible. Should the sort be on charge + quick combined DPS? Or just the quick DPS?

[2016-08-08 19:08] Eric-Carlton commented on #12
@DanForbes I really ought to add an acknowledgments section to the Readme and give a shout out to PogoBuf. Thanks for bringing attention to that, those devs really deserve a hand for doing all the heavy lifting!

[2016-08-08 19:10] edevnull commented on #32
I think we misunderstood. When you now click on renew you always start blank. My suggestion would be have it default filled with the current name.

In my case I only need to add the number instead of typing all, for other people they can add or remove what they like it should indeed not force "my format".

[2016-08-08 19:15] Eric-Carlton commented on #32
Right, but my nickname format is IV based -  15/14/13 for example - , so I would have to delete what gets prefilled in the box. I feel like it's more democratic to just start everyone a blank slate. That way, no one has to delete anything, you just type what you want.

[2016-08-08 19:38] edevnull commented on #31
Hmm, good question. Maybe two sorting options then:

- Sort by DPS fast attack
- Sort by DPS overall

My personal preference would be sorting on the fast attack move but overall might give nice insights.

[2016-08-08 19:45] edevnull commented on #34
Seems also some moves for Wigglytuff gives this issue. Not sure where to get the latest move-set dump but looks indeed an ID mismatch.

<img width="786" alt="screen shot 2016-08-08 at 21 43 39" src="https://cloud.githubusercontent.com/assets/11859271/17493590/55f98912-5db1-11e6-8f6d-4fcd774b9020.png">

[2016-08-08 20:07] Eric-Carlton commented on #34
@edevnull I noticed it on Wigglytuff as well! I think mine had Hyper Beam, but I had another mon with Hyper Beam showed up with the correct move selected. I'll have to turn on trace logs and look for the id returned. Maybe I can modify the results of the data dump to add anything missing? That's not an ideal solution as it would require people to submit an issue for each move that's messed up, and

[2016-08-08 20:09] Eric-Carlton commented on #31
@edevnull Cool beans. I'll initially work on fast attack DPS sort. Then combined DPS.

[2016-08-08 20:12] eswak commented on #33
I second this ^^

[2016-08-08 20:24] Eric-Carlton commented on #34
Oops! Accidentally hit close!

[2016-08-08 20:26] eswak commented on #29
Damn

[2016-08-08 20:42] dcchick opened #35 "Suggestion: Player information display"
Player Name ...
Player Current  Lv , Exp...  e.g.   Lv 5  3127/5000XP
Current Stardust..
Current Item...

Thanks  Eric

[2016-08-08 20:54] Eric-Carlton commented on #35
This would be a great addition once we hit the 1.0.0 milestone! Once the stat table / cards is satisfactory, I'll prioritize this in 1.1.0 or 1.2.0. I'm also playing with the idea of an evolve calculator, so we'll just have to see what the more popular feature would be when we get there.

[2016-08-08 22:40] #26 closed

[2016-08-08 22:41] Eric-Carlton commented on #30
Closed by 2ad3c405f1c098d094ac8bd6430b5bd354d104f9

[2016-08-08 22:41] #30 closed

[2016-08-08 23:44] Eric-Carlton commented on #33
So, I think the property we want to sort be is "creation_time_ms", but I'm unsure of how to map that to an actual time. Here's an example:

"creation_time_ms": {
          "low": -924682416,
          "high": 341,
          "unsigned": true
}

Anyone have any ideas?

[2016-08-09 00:04] #34 closed

[2016-08-09 00:11] Eric-Carlton commented on #34
The problem here ended up being that some of the move ids in the data dump were stored as numbers while others were stored as strings. Take Jigglypuff vs. Wigglytuff for example:

`{
   "Id":39,
   "Name":"Jigglypuff",
...
   "CinematicMoves":[
      84,
      131,
      88
   ]
   ...
}'

'{
   "Id":40,
   "Name":"Wigglytuff",
  ...
   "CinematicMoves":[
      '86',
      '14',
      '88'
   ]
..

[2016-08-09 09:23] YuweISG commented on #33
I found the code @ [SO](http://stackoverflow.com/questions/38577028/datatype-long-what-means-high-and-low).
The return date of the code is like of "weird", but it's still in 2016 :)

[2016-08-09 12:48] Eric-Carlton commented on #33
@YuweISG I don't think that's right. Pokemon Go didn't launch in the US until 07/06, so there's no way I caught that one in May. Unless that's not the right property, but I don't see any other that looks more like a caught time...

[2016-08-09 13:00] Poeles opened #36 "Table is small and scrollable"
The table doesn't take up the whole webpage but instead only covers the center of the page and is scroll able. Not very convenient to go through a long list of pokemon this way. The new card mode does work properly.

This is when checking it on chrome. When I open it through IE the table isn't scrollable but instead the rows are very wide so that only 2 rows fit on 1 screen.

[2016-08-09 13:50] Eric-Carlton commented on #36
How small is small, by the way? I have it set to take up most of the screen width and be 400px high. Does that sound right for what you're looking at?

[2016-08-09 13:52] Poeles commented on #36
I don't use IE, was just testing with different browsers to see if that would fix it. Think I preferred but table the old way, this wasted a lot of screen space and there is even side wards scrolling which is unnecessary as there is enough screen space.

Guess I'll just use the cards for now. I did manage to change some sorting options to match the in game sorting (Pokedex # - CP - IV order). But

[2016-08-09 14:06] Eric-Carlton commented on #36
How strange, it wasn't sideways scrolling last night. You're right,  that is a bit of a pain. All of the changes in table size are made in webapp/styles/pokemon-table.component.css.

There may also be some relevant stuff in webapp/styles/global.css.

I'll take another look at this tonight. Maybe changing `table#stats-as-table tbody{ overflow: auto }` to `table#stats-as-table tbody{ overflow-y: scr

[2016-08-09 14:19] Poeles commented on #36
Yeah that is a lot better. Still have some overflow issue with some long names into the next column but I can live with that. No more sideways scrolling and 600px fills up most of the screen.

[2016-08-09 14:24] Eric-Carlton commented on #36
Okay, cool. If you want to fork, make those changes, and submit a PR we can close this now. Otherwise, I'll just make those CSS changes tonight and close this later on.

[2016-08-09 14:29] Eric-Carlton opened #37 "Add Readme note about IE - some CSS used isn't compatible with IE"
Opening an issue so I don't forget - CSS used to fix table heading doesn't work in IE. Add a note in Readme that IE shouldn't be used to access this tool.

[2016-08-09 14:30] YuweISG commented on #33
Saw this [post](https://groups.google.com/forum/#!topic/nodejs/QSTHVZ4net8) which linked me to [long.JS](https://www.npmjs.com/package/long)
I managed to follow the example and came out with the code to test on nodejs.

[2016-08-09 14:35] Eric-Carlton commented on #33
That looks more correct. Thanks for finding that @YuweISG! I can work on getting this in tonight.

[2016-08-09 14:50] Eric-Carlton commented on #33
I almost forgot, is anyone interested in actually *seeing* the catch time in the card view or just sorting by it?

I have to add it in the table to have it as a sort option there, but I don't think catch time is useful information in the card view. I don't particularly care *when* I caught a Pokemon. I really only want to know the IVs of that Bellsprout that I just caught, so it's useful to sort b

[2016-08-09 14:51] Poeles commented on #36
This is my first PR but think I got it. Usually only use git to easily keep my local repo's up to date. Seems quite cumbersome to get a fix up like this.

[2016-08-09 14:58] DanForbes opened #39 "Enhancement: Expose Evolution Numbers & Make These Numbers Sortable"
Although the current UI exposes candy numbers, it does not give the user any information about how many of a given species can be evolved. This information is very useful when planning "Lucky Evolutions" (mass evolutions using a Lucky Egg). The UI should be enhanced to provide the user with information. Furthermore, this metric should be included in the set of sortable properties.

[2016-08-09 14:58] DanForbes commented on #39
I intend to implement this enhancement.

[2016-08-09 14:58] Eric-Carlton commented on #36
You got it. I agree, it is kind of a pain to contribute to a repo that you don't have write access to. Thanks for the contribution!

[2016-08-09 14:58] #36 closed

[2016-08-09 17:03] edevnull opened #42 "Suggestion: batch transferring"
Would be nice if you can put checkboxes and then do a batch transfer of pokemon with a delay of X (random 5-10 sec?) between each request to avoid getting 401/403 responses.

During the process showing something like: Transferring X of Y. Time remaining: xxx minutes/seconds.

[2016-08-09 17:21] DanForbes commented on #27
I'm not sure where your icons come from, but I have a suggestion: replace current stamina icon with an image of, for example, a running person; use the current stamina icon as the HP icon.

[2016-08-09 17:24] DanForbes opened #43 "Enhancement: Refresh Button"
Not sure if I'm missing something, but I feel like the UI should expose a mechanism by which a user can refresh the list of monsters without needing to reenter credentials.

[2016-08-09 17:25] Eric-Carlton commented on #27
I was thinking of that, the current stamina icon is a bit misleading. @eswak Where did you get the icons used in the card layout? Is it possible to quickly make a change like @DanForbes is suggesting?

[2016-08-09 17:26] DanForbes opened #44 "Enhancement: Sort Attack Moves by Total DPS"
At the moment, the list of attack moves seems to be sorted in a random order (aside from the fact that quick and charge moves are separated). The list of moves should be sorted by total DPS (DPS + STAB), so that a user can quickly tell if a particular monster has the best set of moves, the worst set of moves or some set of moves that falls in between the best set and the worst set.

[2016-08-09 17:30] Eric-Carlton commented on #44
Requires implementation of #22, first. But otherwise, yeah, I agree

[2016-08-09 17:32] Eric-Carlton commented on #42
This is possible. I don't think it needs to be in 1.0.0, but it's a nice to have

[2016-08-09 17:48] DanForbes opened #45 "Suggestion & Question: Develop a Statistic to Represent a Monster's "Desirability" & Strength"
I'm not sure if _I'm_ even completely certain what I'm talking about here, but I feel like there should be some way to aggregate a monster's statistics _including move set, STAB, etc._ to calculate a number meant to represent that monster's "desirability" & "strength" (mainly vis-a-vis gym fighting). I realize that this is what CP is meant to represent, but does CP take move set, etc. into account

[2016-08-09 17:51] DanForbes commented on #42
I think that if batch transferring is implemented, it really needs to be done right. For instance, I think the app should be able to suggest the number of monsters of a particularly species that should be transferred based on how many monsters of that species the user is currently able to evolve. Furthermore, I think the app should suggest the specific monsters that should be transferred using, e.

[2016-08-09 18:32] Eric-Carlton commented on #45
[According to this](http://gaming.stackexchange.com/questions/280491/formula-to-calculate-pokemon-go-cp-and-hp) the CP calculation is (Bast Atk  + Atk IV)  * (Base Def + Def IV)^0.5 * (Base Stam + Stam IV)^0.5 * Lvl(cp_multiplier)^2 / 10, so that takes into account base stats, IVs and level.

The only thing that CP is missing, then, is some ability to factor in the combined DPS of the moveset. CP

[2016-08-09 18:36] Eric-Carlton commented on #42
I like @DanForbes' idea, I think that's eventually where we want to be. However, I'm not opposed to getting this initially implemented with a simpler mechanism.

[2016-08-09 19:03] martinsweitzer opened #46 "Show the 'full' percentage to two decimal places on the cards"
On the cards you see rounded percentages.  (e.g. 75.65 is rounded to 76%)

Even tho that percentage is just a nice high level "how good" this guy is.  Would make it seem even more precise.   Also when it showed differently when I went to transfer I was like:  OH WHAT IS THIS DIFFERENCE!

[2016-08-09 19:16] Eric-Carlton commented on #45
Also, using the formula above, we can find the tipping point were a higher CP would outweigh a higher moveset. Still using the same Exeggutor example as above:

Difference in DPS between best and worst moveset
44.9 - 33.25 = 11.65

CP needed to make a worst moveset Exxegutor better than a best moveset Exxegutor with CP of 1850
x * 5.7663 / 100 = 124.97
ceil(x) = 2168

CP Percentage diff required t

[2016-08-09 19:16] DanForbes commented on #45
Wow! As I mentioned, this kind of thing isn't my strong suit and you've already demonstrated a better grasp than I have, probably. I do have a suggestion, though: instead of using the actual DPS of the move, why not use its "desirability" based on the possible moves of that species. For instance, let's say we have a species with the following possible move set:

- Attack 1: 10 DPS
- Attack 2: 50 D

[2016-08-09 19:24] DanForbes commented on #45
In your second comment, it looks like you're taking the square root of the DPS factor, but it doesn't look like that's what you're doing in the first comment. What is your intention? Also, I don't know if I'm crazy about (using your first example) saying that the 1850 CP Exeggutor is more desirable than the 3000 CP one.

[2016-08-09 19:28] Eric-Carlton commented on #45
@DanForbes Right, I edited the first comment after figuring out that 3000 CP example. Take a look back (:

[2016-08-09 19:30] DanForbes commented on #45
@Eric-Carlton - I needed to refresh! I added a little more color to my last comment (in the form of an edit...sorry, should have tagged you).

[2016-08-09 19:32] DanForbes commented on #45
@Eric-Carlton - okay, I see how you rectified that issue. I'll definitely defer to your judgment here. I've described the way I'm looking at things but am totally willing to believe that your way is more accurate and desirable. More than anything, I'm glad that you see some weight to this suggestion! Also, thanks for helping me to understand CP.

[2016-08-09 19:35] Eric-Carlton commented on #45
@DanForbes I think your desirability of a move relative to other possible moves is interesting. However, it introduces complexity that I don't think I want to manage. If we go that route, we have to recalculate desirability every time Niantic rebalances, right?

The only reason I'm even showing DPS right now is because there's an external resource and I don't have to manage it (:

[2016-08-09 19:36] DanForbes opened #47 "Enhancement: Some Stats and Functions Should be Exposed "Per Species""
The existing UI does a great job of exposing stats and features on a "per monster" basis, i.e. individual instances of a Pokemon species. However, some stats and features make way more sense when exposed on the species level. For instance:

- number of candy
- evolutions
- bulk transfers

Ideally, I would have implemented this when tackling #41, but that seemed a bit heavy-handed (especially for m

[2016-08-09 19:37] Eric-Carlton commented on #45
I think we're essentially trying to measure the same thing though, right? We're just going about it in slightly different ways?

[2016-08-09 19:38] DanForbes commented on #45
@Eric-Carlton: absolutely, I think your approach sounds great!

[2016-08-09 19:38] Eric-Carlton commented on #45
Great! Do you have a catchy name?

[2016-08-09 19:40] DanForbes commented on #45
Well, despite the fact that [`SS` harkens back to the Nazi era](https://en.wikipedia.org/wiki/Schutzstaffel) :grimacing: I do rather like the term `special sauce`, I think it's both descriptive and humorous.

[2016-08-09 19:48] Eric-Carlton commented on #47
Yeah, I was thinking of a different page for evolution calculation stats. Something like having each "family" have it's own master view that showed the name of the root of the evolution tree, number of candies and other relevant data.

Then you would click that and have a detail view with each member of the evolution tree and relevant stats ( number of individuals of that type, number of possible

[2016-08-09 19:53] DanForbes commented on #47
@Eric-Carlton: Hm, I actually think it makes more sense to create an interface that is more similar to your existing design. Each species (that actually exists in the current user's set of monsters) would have its own card. This card would use the same picture as the existing UI and pull out the exact icons and stats that are currently being used on the per monster cards. The bulk transfer button

[2016-08-09 19:53] Eric-Carlton commented on #45
SSS? Special Sauce Stat?

Kind of like a AAA rating, but with S's?

[2016-08-09 19:54] DanForbes commented on #45
Works for me!

[2016-08-09 19:56] Eric-Carlton commented on #47
@DanForbes can you clarify on species?

Like all of your Exeggutors would share a card? Or do you mean anything in the same evolution tree?

[2016-08-09 20:00] DanForbes commented on #47
@Eric-Carlton: all Exeggutors would share a card. Strongly-aggregating by evolution tree doesn't really fit into what I'm envisioning here. I think that we'd want to allow people to sort by Pokedex number, but I'm very much thinking of this on the species/specific Pokemon type level (e.g. Exeggute v. Exeggutor). You could aggregate and sort on really neat things, like aggregate `SSS` :wink: by spe

[2016-08-09 20:06] Eric-Carlton commented on #47
@DanForbes Gotcha, that makes sense. Sorry, I was discussing something similar with a friend and I got stuck on one way of looking at it.

I like the idea. We could probably have it in a component that you drop into webapp/templates/pokemon-stats.component.html as a directive. We could have a control variable in pokemon-stats.component.ts that determines whether to show individual or per species s

[2016-08-09 20:08] DanForbes commented on #47
@Eric-Carlton: Great! Yeah, I have exactly zero experience with Angular 2 and TypeScript, which is a big part of why I didn't implement this with #41.

[2016-08-09 20:19] Eric-Carlton commented on #25
Level to CPM map can be found [here](https://github.com/justinleewells/pogo-optimizer/blob/master/data/game/level-to-cpm.json).

Note to self: add dev to Acknowledgements section

[2016-08-09 20:47] Eric-Carlton commented on #24
This would represent how far away from a perfect CP a mon would be once fully leveled up.

Level to CPM map can be found [here](https://github.com/justinleewells/pogo-optimizer/blob/master/data/game/level-to-cpm.json).
Note to self: add dev to Acknowledgements section

How CP is calculated:  (Base Atk + Atk IV) * (Base Def + Def IV)^0.5 * (Base Stam + Stam IV)^0.5 * Lvl(cp_multiplier)^2 / 10 [sour

[2016-08-09 21:58] #46 closed

[2016-08-09 22:18] acanuto opened #48 "Suggestion: Favorite button"
It would be nice to have a favorite button, easier to know what Pokemon we should keep.

[2016-08-09 22:39] #33 closed

[2016-08-09 22:40] mdbrow10 commented on #45
Hey, I'm also interested in this type of data, but unless you actually understand how attack, defense, and stamina affect battle your calculations are all arbitrary (i.e. useless).

Without the exact combat formulas it's impossible to see how impactful these numbers are relative to each other. We have no idea how much to weight DPS vs CP or if CP is even a useful statistic (fun fact at least one o

[2016-08-09 22:40] Eric-Carlton commented on #33
This requires npm install be done again. Had to add long.js as a dependency.

[2016-08-09 22:40] Eric-Carlton opened #49 "Caught time and evolutions not showing correctly in table"

[2016-08-09 22:42] Eric-Carlton commented on #45
@mdbrow10 You're right. I'm interested to see if that formula is available for Pokemon Go

[2016-08-09 23:23] collinsmith opened #50 "Suggestion: Add functionality to evolve Pokemon"
I think this would be extremely helpful. It could even be expanded upon in the future to batch evolve.

[2016-08-09 23:56] collinsmith opened #51 "Suggestion: Add indicator of HTTP request in process with queue"
I noticed that when an operation is performed (e.g., renaming a Pokemon), the button is disabled and then re-enabled once the request has been processed. I think this could better be indicated with some kind of notification or dialog for when the actions have completed. I was thinking of an unobtrusive pop-up embedded within the page itself rather than one of the currently used browser pop-ups.

O

[2016-08-10 00:02] #49 closed

[2016-08-10 00:04] collinsmith opened #52 "Suggestion: Add button to hide junk Pokemon"
I would like the ability to hide junk Pokemon from the list, or aggregate them via a "hide duplicates" option. Namely, I am referring to Pokemon such as Pidgey, Weedle, Caterpie, Rattata, Ekans, and Paras who are not desirable and represent the largest number of Pokemon in some player's lists (mine included). This option will greatly reduce list clutter regardless of implementation.

[2016-08-10 00:23] mdbrow10 opened #53 "Evolve Cost incorrect"
I left a comment in #41

[2016-08-10 00:32] Eric-Carlton commented on #53
@DanForbes - care to drop in and take a look at this?

[2016-08-10 00:33] Eric-Carlton commented on #52
Why would you want to hide them as opposed to just transferring your trash and getting it out of your inventory?

[2016-08-10 00:47] collinsmith commented on #52
They're in my inventory until I decide to use a lucky egg to evolve them (i.e., when I get more to make it worth while). I want to hide them because their IVs are irrelevant, however I don't want to transfer them because they're at an optimal number to evolve.

I wrote a quick app to do this calculation for me, which is just recursively finding `candies - cost + 1 + 1`. E.g., Pidgey costs 12 to ev

[2016-08-10 00:55] Eric-Carlton commented on #52
The only problem I see here is that your junk criteria and my junk criteria may be different. I think a good workaround may be to just have a nickname that means "don't show me this one".

For example, any Pokemon with a nickname of 'junk' would be hidden.

Would that work?

[2016-08-10 01:00] collinsmith commented on #52
In terms of junk Pokemon who exist only to be evolved and transferred thereafter, I think a good solution might be to maintain a list where those Pokemon can be checked. I've seen a couple of webapps use this implementation already with success. Then it's just a matter of picking which Pokemon you don't care about (and optionally having a default set which includes the most common like Pidgey).

I

[2016-08-10 01:05] Eric-Carlton commented on #52
Cool beans, I'll remove needs more information tag.

Anyone who picks this up, either solution would work. If you go the easy route and use the nickname solution, open up an issue to enhance that behavior and reference this issue, please.

[2016-08-10 01:11] collinsmith commented on #50
I mentioned this in #52, batch evolve should omit favorite Pokemon. They represent a unique case. E.g., if I have 13 Pidgeys, of which one is a favorite (perhaps because it has good stats), then only 12 should count as evolveable, and the favorite Pokemon must be explicitly evolved as it's own discrete operation.

[2016-08-10 01:37] collinsmith commented on #53
In my own implementation of this formula for my own project, I chose to use a recursive approach, with the option to optimize (transfer those evolved Pokemon for additional candies). Each evolution costs `x`, but returns `1` from the evolution operation itself. If optimizing, an additional `1` is returned from the transfer operation. Here's some quick pseudocode from my implementation:

[code]

[2016-08-10 01:40] DanForbes commented on #53
I don't want to take the candy returned from transferring into this equation. I wanted to expose this information to optimize evolving with Lucky Eggs, and since one typically doesn't perform transfers during a "Lucky Evolution", I don't think it makes sense to factor that in. Do others disagree?

[2016-08-10 01:42] collinsmith commented on #53
@dforbesfds I agree. My own function added that parameter as that was the purpose of the implementation. The transfer award should only be taken in account for "Lucky Egg evolutions"

[2016-08-10 01:57] Eric-Carlton commented on #53
fixed by #54

[2016-08-10 01:57] #53 closed

[2016-08-10 02:01] #25 closed

[2016-08-10 02:28] Eric-Carlton commented on #24
@mdbrow10 pointed out in a private discussion that this metric may be improved. The difference between a 100% pokemon and a 0% is only about 15%.

For example:

Exeggutor with perfect IVs at level 40
(232 + 15) * (164 + 15)^.5 * (190 + 15)^.5 * 0.79030001^2 / 10 = 2955

Exeggutor with IVs of 0/0/0 at level 40
232 * 164^.5 * 190^.5 * 0.79030001^2 / 10 = 2558

CP Percentage
2558 / 2955 * 100 = **85.

[2016-08-10 02:32] Eric-Carlton commented on #24
Just realized that this would have the added benefit of eliminating retrieval of base stats, which would make implementation easier. Huzzahs all around!

[2016-08-10 02:34] Eric-Carlton commented on #31
Accurate DPS sorting would depend on #22 to include STAB in DPS calculations

[2016-08-10 02:37] #37 closed

[2016-08-10 03:01] Eric-Carlton commented on #24
I did mess this up. This calculation would result in a 0 if **any** IV was 0. I should be subtracting the CP of a mon at level 40 with 0 IVs. I'm working on the math. Will edit with examples.

[2016-08-10 03:39] martinsweitzer opened #55 "PGOAPI version was updated to 1.1.7"
How often do you get an updated PGOAPI?

Also, are you filling in the altitude field in the data sent?   Or are you just using a third party lib for that?

The nightmare of dependencies :-\   Just with this, we are playing with our character's data and needing to have the latest unkown6/pgoapi and all of the fields filled in is really important so we don't lose our guy.

[2016-08-10 03:48] Eric-Carlton commented on #55
What is PogoAPI? I'm using PogoBuf to access Niantic's services. They're currently at 1.5.0 according to npm and I'm npm updating every night when I start development.

As far as altitude, I'm not sending **any** location data, so no worries there. It just looks like a phone is logging in without a GPS signal.

For the unknown6 issue, I'm pretty sure Niantic is only looking at that for map request

[2016-08-10 03:52] Eric-Carlton commented on #55
Just ran a quick check of installed pogobuf version
[code]

And it looks like I'm up to date

Although this is a good time to mention, it doesn't hurt to run `npm update` after each git pull, just to make sure your local version is up to date as well (:

[2016-08-10 03:53] martinsweitzer commented on #55
Ahh ok!  There we go :-)  So run npm update  and then do the normal start up process.  Sweet!

[2016-08-10 03:54] Eric-Carlton commented on #55
Yep! Also PGOAPI is the Python library. I'm using Node here, so there's a different set of dependencies (:

[2016-08-10 03:54] #55 closed

[2016-08-10 04:37] DevinFalgoust opened #57 "Issue: Trying to Run Server, getting "Cannot GET /" Error Page"
After installing the correct version of node.js, I followed the instructions on the readme and used `npm start` to run my server. It seems to be running correctly, but when i hit localhost:8008, I receive an error page of "Cannot GET /".

[2016-08-10 04:38] Eric-Carlton commented on #57
You're trying to access the wrong port ;) The Node server runs on 8008. The webserver runs on **8080**. Try localhost:8080 instead.

[2016-08-10 04:46] DevinFalgoust commented on #57
Ah! I see! Thank you. It still doesn't seem to be serving up the webapp correctly. Any ideas?

[2016-08-10 04:48] Eric-Carlton commented on #57
Do you even see a Loading... message?

[2016-08-10 04:50] DevinFalgoust commented on #57
In the terminal or in the browser? My browser says it's receiving an empty response, and the most recent text on my server terminal is that it's starting up on localhost:8080.

[2016-08-10 04:52] Eric-Carlton commented on #57
Hmm...

Could you paste your terminal output from `npm start` here?

Also, what OS and Node version do you have?

[2016-08-10 04:53] Eric-Carlton commented on #57
Your terminal output should look something like

[code]

[2016-08-10 04:55] DevinFalgoust commented on #57
I'm on OS X El Capitan and using Node 6.3.1.

My terminal output is as follows:
[code]

[2016-08-10 04:58] Eric-Carlton commented on #57
That's strange. http-server is definitely serving the files on 8080.

Have you tried navigating to [http://127.0.0.1:8080](http://127.0.0.1:8080) instead of [http://localhost:8080](http://localhost:8080)?

[2016-08-10 04:58] DevinFalgoust commented on #57
I have. Same thing - empty response.

[2016-08-10 05:00] DevinFalgoust commented on #57
It may be worth noting, this is my output when running (again) an `npm install`:

[code]

[2016-08-10 05:01] collinsmith commented on #57
That's normal

[2016-08-10 05:01] Eric-Carlton commented on #57
Those deprecated messages are normal.

Any messages in the browser console? (Cmd+Option+i in Chrome)

[2016-08-10 05:02] Eric-Carlton commented on #57
@collinsmith glad you're here! I'm about stumped. Do you have any idea what could be happening here?

[2016-08-10 05:02] DevinFalgoust commented on #57
[code]

[2016-08-10 05:03] Eric-Carlton commented on #57
@DevinFalgoust well, that definitely looks like http-server *isn't* serving files.

[2016-08-10 05:04] collinsmith commented on #57
I assume you've tried connecting to http://192.168.1.169:8080

[2016-08-10 05:05] DevinFalgoust commented on #57
I have - same thing. And, yes, it looks like it's not serving any files. But it seems to be running, so i'm not sure where the disconnect is.

[2016-08-10 05:06] funkmetalbass opened #58 "Unable to login - strange 'npm start' output"
I haven't pulled in a few days, and now that I have, I'm unable to login with Google (I do not use a 2-step activation). Running Ubuntu 16.0.4, node v4.2.6. I notice a strange output with 'npm start'. Any ideas what might be causing it?

[code]

[2016-08-10 05:06] collinsmith commented on #57
Would you have something else living on 8080 or 8008? I run a tomcat instance on my server, so I had to change my nodejs webserver to use 8081.

What does the server's console show when you try to connect to that URL?

[2016-08-10 05:07] DevinFalgoust commented on #57
I can try changing the webserver to serve on 8081. Where is the config for that?

[2016-08-10 05:09] Eric-Carlton commented on #57
It would be in package.json change scripts.webapp from
`"webapp": "npm run clean && tsc --outDir ./webapp/js && node ./node_modules/http-server/bin/http-server"`

to

`"webapp": "npm run clean && tsc --outDir ./webapp/js && node ./node_modules/http-server/bin/http-server -p 8081"`

[2016-08-10 05:11] collinsmith commented on #57
You could also try `lsof -n -i:8008,8080 | grep LISTEN` to check if node is even listening on those ports. (I'm not really a MAC guy so that might be wrong)

[2016-08-10 05:12] DevinFalgoust commented on #57
That fixed it. I also have a tomcat server that runs on this computer, but it shouldn't be currently running so I figured the port was open. Apparently not. Thanks for the help guys. Keep up the great work. Excited to check out the app. =D

[2016-08-10 05:13] collinsmith commented on #57
Awesome! :)

[2016-08-10 05:13] Eric-Carlton commented on #57
@collinsmith Thanks for the help! I wouldn't have thought of changing the port since http-server started up without issue

@DevinFalgoust Glad we could help!

[2016-08-10 05:13] #57 closed

[2016-08-10 05:14] funkmetalbass commented on #58
Fixed by upgrading Node to v6.3.1

[2016-08-10 05:14] #58 closed

[2016-08-10 05:15] collinsmith commented on #57
I noticed that there were no messages about the conflict when I was trying to configure this myself a few weeks ago with pogo-optimizer, granted my tomcat server runs on a cron job, so I needed to change the port regardless.

[2016-08-10 05:20] Eric-Carlton commented on #58
Sorry, forgot the "use strict" declaration in pokemonUtils.js

Just pushed a commit to fix that.

[2016-08-10 05:23] Eric-Carlton commented on #51
I like this idea a lot!

[2016-08-10 05:53] #43 closed

[2016-08-10 09:56] eswak commented on #33
Yeah I agree, only sorting is important.

Also, we could display the pokeball type the pokemon was catched with (it's returned by the API), but it's not a useful information IMO.

[2016-08-10 13:56] eswak commented on #51
I'm not a fan about this "batch" thing.

I think the main problem with pokevision.com etc is that they spam servers by making lots of requests/sec. If we start to enable batch actions, we could be making a lot of calls to the Niantic API and it's better to prevent that.

As mentioned in the readme, by using this app we are acting against the TOS. I feel the difference between the apps/users that g

[2016-08-10 20:22] collinsmith commented on #51
There are some differences between this an other applications, namely that this requires your actual account, and users wouldn't do things like generate 10+ accounts which exist just to scan a map. In a sense, this is just an enriched client (which is against the TOS regardless).

Additionally, with a queue implementation, it would be easy to implement some variable thread sleep (say 8-10 seconds

[2016-08-11 11:20] DanForbes commented on #52
I definitely like the suggestion of allowing the user to select from a list of species which will be hidden.

[2016-08-11 11:23] DanForbes commented on #51
Isn't it possible that batch requests put _less_ load on Niantic? Think about it: 50 evolution requests versus 1 request that says "evolve all these Pokemon". I'm not sure how batch requests are implemented so I may be way off the mark here, just throwing this out there...

[2016-08-11 11:28] DanForbes commented on #51
[Here is where PogoBuf describes their batch functionality.](https://github.com/cyraxx/pogobuf/wiki/Usage#batch-mode)

[2016-08-11 11:30] DanForbes commented on #24
I wish I was better at this sort of thing, but looking at numbers like this just isn't my strong suit! :-/

[2016-08-11 11:31] DanForbes commented on #27
FYI - I kind of obviated this with #59.

[2016-08-11 11:33] DanForbes commented on #28
@Eric-Carlton: what do you think about storing _the entire set of Pokemon_ in LocalStorage? This way, users wouldn't have to log back in every time they wanted to refresh the page. I think this would be especially helpful in development. On login, the app would check LocalStorage for the Pokemon list. If it's there, it will be loaded with no server calls, if not, a server call would be made. Anyti

[2016-08-11 15:28] Poeles opened #60 "Suggestion: Attack-moves in tabular format"
An option to add the fast and special move to the table would be great. I was looking at the code if I could manage to do it myself but couldn't figure it out. If you can point me somewhere where I could add this I might be able to do it myself too?

Reasoning: I copy the table to excel so I can analyse it in there. There are also sheets available to rate your pokemon and see how they would do in

[2016-08-11 15:58] Eric-Carlton commented on #60
Fair enough. Unfortunately, it's not just as easy as adding a new TableStat in webapp/services/properties.service.ts. The moveset isn't a simple property, it's an object that contains arrays of objects as properties. I'll add this to 1.0.0, but I think it's going to be near the bottom of the list.

If you want to give it a shot, here are the relevant files:

1. [Move model](https://github.com/Eric

[2016-08-11 16:16] Eric-Carlton commented on #28
@DanForbes I see the potential as a dev feature. I don't think it should be like that for all users.

If I'm coming home from an evening of Pokemon Go and I sit down to check my IVs, I think seeing an outdated list without clicking a refresh button would be more frustrating than anything else.

We can do like a 'Keep me logged in' checkbox and store the credentials to LocalStorage though. That way

[2016-08-11 16:35] DanForbes commented on #28
@Eric-Carlton: I totally hear what you're saying vis-a-vis the oddity of _needing_ to click refresh. Let me give a little background into why this has been particularly bothersome for me and why I'm proposing this change...

There seems to be some kind of a misconfiguration on my dev laptop at home. I would say I have about a 45% login success rate. The other 65% of the time I get an [EAI_AGAIN er

[2016-08-11 17:00] Eric-Carlton commented on #28
I can't really help with your login problems. That is rather strange, I haven't heard of that before.

I can, however, shed some light on that message on your phone. If you look at how transfers and renames work, you'll notice that it requires a login to accomplish both of those tasks.

[code]

Admittedly, that's pretty poor design. Ideally, we would be sending back a token upon Pokemon retrieval.

[2016-08-11 17:02] DanForbes commented on #28
That sounds like the kind of problem that I'm equipped to solve! I will make an issue. Please feel free to assign it to me. I will report back _when_ I figure out my login problem...I'm determined! :grin:

[2016-08-11 17:03] Eric-Carlton commented on #28
I don't think I can assign an issue to you. I think you need write access to this repo for me to do that. Feel free to throw a note into the issue that you're working on it though! I'll tag it as in progress so other people know not to pick it up.

[2016-08-11 17:06] DanForbes opened #61 "Bug: Tokens Should be Used After Login"
The [PogoBuf API](https://github.com/cyraxx/pogobuf/wiki/Usage#basic-usage) allows users to login once and then use an auth token for ensuing operations. Currently, PokemonGoReader does not make use of this feature and performs a fresh login for each operation that needs to be performed. PokemonGoReader should be enhanced to make use of tokens in order to reduce the number of login operations.

[2016-08-11 17:07] DanForbes commented on #61
I intend on solving this issue.

[2016-08-11 17:12] Eric-Carlton commented on #61
This says enhancement, but I'm going to label it as a bug. It really should have been done this way in the first place, sorry about that. Thanks for taking this up @DanForbes!

[2016-08-11 18:22] viralwolf opened #62 "New version doesn't work for me."
I'm running Windows 10. Project worked for me a few days ago while I had an older version. Downloaded the newest version today to check out the card view, and now it doesn't seem to work. I get this error:
"GET /favicon.ico" Error (404): "Not found"
after this the page doesn't load anything into the table.
![capture](https://cloud.githubusercontent.com/assets/11671373/17599834/f4427862-5fce-11e6-9

[2016-08-11 18:32] Eric-Carlton commented on #62
That favicon error has always existed. It's not an issue.

Have you tried doing a fresh `npm install` since your last pull? I added a new dependency a few days ago that may be causing problems if you don't have it.

[2016-08-11 18:49] viralwolf commented on #62
I think I solved the problem. Not sure what all it took, but I uninstalled Node JS, cleared browsing data in chrome from the past day, reinstalled Node, restarted and now it works. Strange indeed. Thank you for the timely response though.

[2016-08-11 18:50] Eric-Carlton commented on #62
Np, glad you worked it out (:

[2016-08-11 18:50] #62 closed

[2016-08-11 21:30] Poeles commented on #60
Had a look around but after trying some stuff I noticed I had no idea what I was doing. Guess I'll just add the movesets manually for only my top pokemon for now.

Guess an alternate solution is a downloadable csv file as it mentioned @ https://github.com/Eric-Carlton/PokemonGoReader/issues/12

[2016-08-11 23:38] collinsmith commented on #61
I actually like the current implementation more, as it is easier for a multi-user environment. If tokens are used, then I'd like a way to logout, as well as an option to "remember" the user to auto-log them back in (associated by device with a cookie for example).

[2016-08-11 23:40] Eric-Carlton commented on #61
Oh, yeah. There should definitely be a way to log out. See #28 for how we decided on this

[2016-08-11 23:40] collinsmith opened #63 "Suggestion: Change default login type to Google"
The login page seems to default to PTC, but I think most people use Google instead, so I'd like that to be the default. I would accept caching the last used option instead if changing to Google is not an option (however this might be a nice feature regardless).

[2016-08-11 23:47] collinsmith commented on #24
It looks like you're heading for more of a desirability metric. If that's the case, then that should include IV and DPS of moves. I'd imagine such a sort as Offensive and Defensive desirability (two discrete lists, as different move sets are better for one or the other apparently), which could determine the total desirability. This sort wouldn't take into account type advantages, just raw Pokemon

[2016-08-11 23:56] Eric-Carlton opened #64 "Add columns in table view as settings"

[2016-08-12 00:01] #28 closed

[2016-08-12 00:03] Eric-Carlton commented on #63
I'd rather just cache it now that I have some LocalStorage stuff working. I had another request to do the exact opposite of this early on. That's why it is the way it is (:

[2016-08-12 01:06] Eric-Carlton opened #65 "Add multi-user support for local storage"

[2016-08-12 01:16] Eric-Carlton commented on #65
Right now, settings are stored as simple strings. I would like this refactored to store a settings object for each user that modified the default settings. Something like

[code]

That could be stringified and stored. When modifying, it could be parsed, modified, re-stringified and stored.

@collinsmith Do you think this would be a good multi-user approach to localStorage?

[2016-08-12 01:17] collinsmith commented on #65
Ya, that looks plenty simple to implement.

[2016-08-12 01:18] Eric-Carlton commented on #65
Super duper. It seemed too simple so I wanted to get a second opinion, haha

[2016-08-12 08:44] eswak commented on #63
mea culpa 😊

[2016-08-12 08:46] eswak commented on #50
My pidgey candies are stacking quite hard, if no one takes this I may do it next week :P

[2016-08-12 12:35] DanForbes commented on #61
Update: probably get this taken care of sometime over the weekend.

[2016-08-12 16:11] DanForbes commented on #28
@Eric-Carlton: I created [an SO post](http://stackoverflow.com/questions/38922062/eai-again-on-ubuntu-mate) for the problem I'm having. Given all that information, do you believe that I am correct to assume that the problem originates in PogoBuf code?

[2016-08-12 16:48] DanForbes opened #66 "Question: Ban Risk?"
I just came across an article that pointed out [this new (?) article on Niantic's FAQ that references **permanent** bans](https://support.pokemongo.nianticlabs.com/hc/en-us/articles/225146308-Submit-a-ban-appeal) due to "accessing Pokémon GO clients or backends in an unauthorized manner including through the use of third-party software."

I know that _technically_ we fall into this category, but i

[2016-08-12 17:08] Eric-Carlton commented on #66
I would like to think that we're in the clear. We're performing mostly reads - and really just 1 per session to retrieve inventory, we're not currently allowing users to do anything that earns experience, and we're not causing a huge network load.

I think that the more writes we perform, the more of a risk we take. Transfers and renames are likely low risk. Especially in their current form - one

[2016-08-12 17:10] Eric-Carlton commented on #28
@DanForbes The problem is likely caused by some configuration issue on your machine, as you stated in your post. The error is coming from something that PogoBuf is doing, but I'm not sure that it's a bug on their part.

[2016-08-12 21:12] collinsmith commented on #66
I think other, similar, apps have been receiving c&ds as far as a few weeks ago. In terms of priority, botting/hacking is probably higher, but all use the same APIs. I think you're right that adding support for evolving would draw too much attention, I only suggested that as an ease-of-life thing, especially when my own device can restart the app in 7 seconds to skip the ~22 (or ~30 for a new) sec

[2016-08-15 04:10] Eric-Carlton commented on #66
@collinsmith I'm don't think this is the platform for automating renames. I've had other issues opened to automate renames, but with a different format. I think the current way is the most democratic. Without pre-filling on rename, we're starting everyone on the same level - a blank slate. I renaming with a specific default format is probably best done on your own fork. That way, it only impacts y

[2016-08-15 04:22] Eric-Carlton commented on #66
I haven't seen any bans based solely on IV checkers, like this one, alone over the weekend. Therefore, I'm comfortable starting up development again tomorrow evening. My current priorities are

1. Adding multi-user support for localStorage
2. Adding UI / localStorage support for table columns

After that, I'll work on STAB DPS calculation, DPS sort, and other issues in the 1.0.0 milestone.

I also

[2016-08-15 04:25] Eric-Carlton commented on #50
Sorry, I'm not comfortable with allowing that functionality. However, feel free to implement in your own fork. This project is under a MIT license, so you can do whatever you want with it. I just don't want to add this to the main project.

[2016-08-15 04:25] #50 closed

[2016-08-15 04:26] Eric-Carlton commented on #63
As mentioned above, I plan on adding this as a localStorage option. Closing this and opening a new issue for that.

[2016-08-15 04:26] #63 closed

[2016-08-15 04:26] Eric-Carlton opened #67 "Add default login type as global localStorage setting"

[2016-08-15 04:31] Eric-Carlton commented on #66
I feel like I should also mention that I test / develop with my main Google account. Should the ban hammer come down on stuff like this, I'll be targeted along with other users. In fact, I may be a more visible target since I'm using my account to test while I'm developing. I'll post a notice should I get banned, or if any users report bans solely because of use of this application (:

[2016-08-15 14:15] DanForbes commented on #66
Vis-a-vis what this application **is** and **is not** for, I agree that anything related to gaining XP should be verboten. I'm actually inclined to go one step farther and say that I think this should be a **read-only** application. All I really want to do is compare my monsters to one another with a higher degree of precision than is exposed by the game's "official" features. With that in mind, I

[2016-08-15 14:16] DanForbes commented on #48
Per my comment on #66, I think that any "favorite" feature exposed by this app should be internal-only. That is, I suppose it's fine to store favorite information in LocalStorage, but, since I believe we should move forward in a read-only fashion, I no longer think it's a good idea to "favorite" a monster by way of the official/unofficial API.

[2016-08-15 14:21] DanForbes commented on #61
I started looking into this over the weekend, but obviously didn't get it implemented. I did a POC and observed that if the server responds to the client with the token, that can be used for future operations (as opposed to the client sending username/password every time). Unfortunately, I got a little turned around in `Promise`s and wasn't able to turn out a clean implementation in my free time t

[2016-08-16 13:25] Eric-Carlton commented on #66
I don't mind the rename / transfer / favorite operations being exposed here. The only caveat is that I feel like our current way of turning them off should remain. It gives the ability to have a read only app, with the flexibility to perform some non XP earning operations related to Pokemon management.

[2016-08-16 13:26] Eric-Carlton commented on #48
Just pasting my related response from #66 here:

I don't mind the rename / transfer / favorite operations being exposed here. The only caveat is that I feel like our current way of turning them off should remain. It gives the ability to have a read only app, with the flexibility to perform some non XP earning operations related to Pokemon management.

With that being said, I think favoriting would

[2016-08-16 13:34] Eric-Carlton commented on #61
According to [Google's developers site](https://developers.google.com/identity/protocols/OAuth2):

So we should expect a token to expire, but it looks like we shouldn't expect it to expire often. Correct me if I'm reading that incorrectly.

I think your idea of sending a username and password with the token would work. If no token is present or a login with a token fails, try the username and pass

[2016-08-16 18:33] ggarret opened #68 "Unable to login with google account"
Hello, i try to loggin to app with my google account but i have 405 error "405 Method Not Allowed" on the route http://127.0.0.1:8080/api/pokemon/get

Two factor auth is disabled.

Thank

[2016-08-16 18:56] Eric-Carlton commented on #68
Hey @ggarret what HTTP method are you using to access that route? It should be a POST

[2016-08-16 19:08] ggarret commented on #68
It's POST request, i use your back and Front.
I found in node log a 404 error :

[Tue Aug 16 2016 20:34:49 GMT+0200 (CEST)] "POST /api/pokemon/get" Error (404): "Not found"

Is it normal to get the list of Pokemon before a login request?

[2016-08-16 19:20] ggarret commented on #68
OOpps, wrong version of node, i work on LTS, on 6.x your app work!

Thank you !

[2016-08-16 19:20] #68 closed

[2016-08-16 23:42] #65 closed

[2016-08-16 23:46] Eric-Carlton opened #69 "Caught time is broken with new PogoBuf version"

[2016-08-16 23:51] #69 closed

[2016-08-17 00:35] collinsmith opened #70 "Suggestion: Change "sort by" options to UI drop-down implementation"
I like to use this on the go from my phone, and with the amount of sort by options available it can get very cluttered. I think, especially because I believe only one can be active at a time, this UI could better be implemented as a combo box/drop down list.

[2016-08-17 00:37] Eric-Carlton commented on #70
Fair enough, that can be done

[2016-08-17 00:37] collinsmith opened #71 "Bug: Caught time column displays as NaN"
I noticed in table view (which I believe is deprecated), that the caught time column displays as NaN (see screenshot). It also extends in the adjacent column, but I believe resolving the original behavior will also resolve this behavior.
![screenshot_1](https://cloud.githubusercontent.com/assets/4914327/17720592/009c84f6-63d8-11e6-9a9c-be51b06f1dd5.jpg)

[2016-08-17 00:40] Eric-Carlton commented on #71
Run `npm update` to get the latest version of PogoBuf. I had to make some changes to be compatible with 1.5.1 that may not be compatible with the older versions.

[2016-08-17 00:40] collinsmith opened #72 "Suggestion: Table view should take up more screen realestate"
My PC runs at a 1440p resolution, so this is a corner case, however I believe that the table view should take up more screen space, as there is a significant amount of space open.
![screenshot_2](https://cloud.githubusercontent.com/assets/4914327/17720663/7c584b84-63d8-11e6-9279-de71fe22b497.jpg)

[2016-08-17 00:42] collinsmith commented on #70
For reference, this is how it displays on my phone.
![screenshot_20160816-174114 1](https://cloud.githubusercontent.com/assets/4914327/17720702/c48b7ade-63d8-11e6-8105-462d70a60a12.png)

[2016-08-17 00:44] collinsmith commented on #71
That resolved the behavior. Thanks!

[2016-08-17 00:44] #71 closed

[2016-08-17 00:48] Eric-Carlton commented on #72
My screen runs at 1366 x 768 and this is what my table looks like:

![image](https://cloud.githubusercontent.com/assets/8008445/17720769/9384bd32-63f2-11e6-9f05-61a884786e9c.png)

It's pretty much taking up my whole screen.

@collinsmith  I'm terrible with CSS, do you know if it's possible to adjust the table width according to screen resolution? I think that would be the best fix for this.

[2016-08-17 00:50] Eric-Carlton commented on #70
Whew, yeah, that's ugly. I wonder if it's possible to show the drop down only on mobile screens and the buttons on non-mobile screens. As I've mentioned before, my skillset is more based on functionality than looks. Do you know if that's possible?

[2016-08-17 00:52] collinsmith commented on #72
No, but I'll try and google it later on and see. My main concern was the table height, since as long as the width accommodate data appropriately (which is a problem with smaller resolutions like yours, which it is doing fine), I can deal with it.

[2016-08-17 00:53] Eric-Carlton commented on #72
Yeah, the height is set at a static 600px. If you find out how to make that dynamic, I can definitely implement it.

[2016-08-17 00:54] collinsmith commented on #70
I'm not a web programmer, but I believe device (i.e., browser, etc) is known by the server, so it may be possible, hence redirecting to mobile sites. It's sort of an odd use-case to sort a grid view, because sorting comes so naturally to columns (i.e., table view).

[2016-08-17 01:01] #67 closed

[2016-08-17 01:03] Eric-Carlton commented on #70
Okay, I'll look into it. I am actually a web programmer, but I usually get handed CSS from a UXD person, lol.  I'm pretty sure it's possible, it'll just take some research to figure out how to make it work.

[2016-08-17 01:07] Eric-Carlton commented on #66
Conversation on this seems to be dwindling. Closing for now. If anyone has any more questions, feel free to open another issue.

[2016-08-17 01:07] #66 closed

[2016-08-17 02:06] Eric-Carlton commented on #61
closed by 42fbc8dcc5e6403fe4a91c537eeabc9c1b6fc7d8

[2016-08-17 02:06] #61 closed

[2016-08-17 02:18] Eric-Carlton commented on #63
Fixed by 6f2bbee6f0b357d93529794240cba12f1e410e7a. Picking a login type will now set it as default. You should only have to pick your login type once.

[2016-08-17 13:48] dforbesfds commented on #47
Is there anything remaining here, @Eric-Carlton? If so, let me know and I'll try to finish it up.

[2016-08-17 22:52] Eric-Carlton commented on #47
@dforbesfds It depends on how far you want to take it. I was thinking of eventually adding an optimal number to transfer stat and a sort by candy. But those can be opened up as separate issues.

[2016-08-18 01:06] #64 closed

[2016-08-18 01:43] collinsmith opened #74 "Suggestion: Species view to show highest IV"
I think species view (display type) should display the highest IV % of that species. Also, it might even be helpful should one of the species cards be clicked that cards for all pokemon of that species be displayed. In that sense, species view acts as a filter for which species' cards to view.

[2016-08-18 02:17] Eric-Carlton commented on #74
I agree to both of those things! I eventually also want to show an optimal number of transfers field in the species columns

[2016-08-18 05:20] #70 closed

[2016-08-18 05:21] Eric-Carlton commented on #70
I Bootstrapified the whole app and added all settings to dropdowns. I added JQuery as a dependency, so you'll probably need a fresh `npm install` when you pull these changes in.

Let me know if you run into issues!

[2016-08-18 05:43] Eric-Carlton commented on #16
Reopening because Bootstrap broke this

[2016-08-18 05:53] #16 closed

[2016-08-18 17:55] DanForbes commented on #47
@Eric-Carlton - when you say "optimal number to transfer" do you basically mean subtracting `species.evolve_sort` from `species.count`?

[2016-08-18 17:57] Eric-Carlton commented on #47
Yep, exactly

[2016-08-18 21:51] Eric-Carlton commented on #47
Finished up by #76

[2016-08-18 21:51] #47 closed

[2016-08-18 23:29] collinsmith commented on #70
I just updated it; looks really good!

[2016-08-18 23:32] collinsmith commented on #72
I noticed in my most recent pull that this happens with display by monster and table view enabled (the species cards are displayed below the table). Is this intended behavior?
![screenshot_1](https://cloud.githubusercontent.com/assets/4914327/17794086/426747d8-6561-11e6-8341-cafc85b73ba2.jpg)

[2016-08-19 01:57] Eric-Carlton commented on #72
Nope, pull again, I fixed that

[2016-08-19 01:58] Eric-Carlton commented on #72
@collinsmith also, run a fresh `npm install` on your next pull. I added uglify-js as a dependency to keep the app small and you'll need it for builds now.

[2016-08-19 02:01] Eric-Carlton commented on #70
@collinsmith Thanks!

[2016-08-19 02:01] collinsmith commented on #72
Yep, that did it

[2016-08-19 03:53] martinsweitzer opened #77 "Show the number of Candies and dust needed to full max the pokemon"
Show the number of Candies and dust needed to full max the pokemon.  Maybe you can set your level in the settings or something.

Something like:
https://pokeassistant.com/main/ivcalculator?locale=en

Required to max: Power-ups: 43 Dust: 247500 Candy: 280

Basically, you have that 98% Snorlax that is lvl 9.  How many candies will it take to level him up?  Should you just spend candy elsewhere?

[2016-08-19 04:00] Eric-Carlton commented on #77
No need for a setting for trainer level. That can be pulled with PogoBuf along with the inventory info that we're currently retrieving.

[2016-08-19 05:57] Eric-Carlton commented on #27
Agreed, need for this was removed by #59

[2016-08-19 05:57] #27 closed

[2016-08-19 14:09] dforbesfds commented on #52
I've been thinking about how this feature could be implemented and come up with a proposal. I think when a user clicks on a Pokemon image in the species view, this should toggle whether or not all monsters of that species are displayed in the monster view. This is kind of at odds with the discussion in #74, though. What do y'all think? Also, @Eric-Carlton, I'm not sure how to communicate between s

[2016-08-19 14:12] Eric-Carlton commented on #52
@dforbesfds Honestly, the easiest way I've found to do it is to just broadcast a message like the Pokemon Service does when it updates the Pokemon list. You could try that. It's not pretty, but it will work.

This is definitely at odds with the implementation of #74. We just need to decide which use for the species screen would be more useful.

[2016-08-20 01:36] Eric-Carlton opened #78 "Unable to log in"
I just pulled a new version onto my Mac after developing on a different computer all week. I'm unable to log in all of a sudden.

If I use an invalid password, I'm getting the typical `403` that I would expect. However, with correct credentials I'm seeing `5 tries with error: Fetching RPC endpoint failed, received status code 51` in the server logs.

It looks like a problem with a dependency, so I

[2016-08-20 02:58] Eric-Carlton commented on #78
There's a solution to this issue from @comcaptain on that PogoBuf issue I referenced:

Hopefully the PogoBuf will integrate that into master soon so that I can close this issue

[2016-08-20 13:26] Eric-Carlton commented on #78
[Fixed in PogoBuf 1.5.3](https://github.com/cyraxx/pogobuf/pull/88)

[2016-08-20 13:26] #78 closed

[2016-08-20 16:03] DevinFalgoust opened #79 "Bug: Error logging in."
I've been using this app for quite some time and loving it, but there's an issue logging in today. Logging into the Pokemon Go app itself works for me, and the reader worked for me yesterday. However, when I try today I get this error:

[code]

[2016-08-20 16:36] AidanMcArdle commented on #79
Same issue here.

[2016-08-20 17:16] Eric-Carlton commented on #79
Please see #78. To make a long story short, `nom update` will fix it

[2016-08-20 17:24] DevinFalgoust commented on #79
That solved it. Thanks!

[2016-08-20 17:24] #79 closed

[2016-08-22 01:30] Eric-Carlton commented on #22
I should be starting work on this tomorrow, to anyone following this issue. Finishing this up should very quickly knock out the rest of the issues in 1.0.0

[2016-08-22 05:06] nycholassousa opened #81 "Use Google Token"
Instead of using google email and password, why not use the token? It would be easier for those who have email from google and a way to rely even more on the site.

[2016-08-22 13:50] Eric-Carlton commented on #81
The reason that this is a low priority is that it's intended to be a local application, not one deployed on a server somewhere. For that reason, there's shouldn't be a risk of your password getting stored anywhere that you don't intend. I agree that the app password generation is a bit tedious for 2FA users, but I don't think it's a huge inconvenience.

[2016-08-22 15:36] DevinFalgoust opened #82 "Bug: Broken on Safari"
When opening the page in Safari, only the first Pokemon shows up. Each other block where the pokemon should be show up blank and with empty buttons.

I'm currently running:
Mac OS X 10.11.6
Safari 9.1.2

<img width="1375" alt="capturfiles" src="https://cloud.githubusercontent.com/assets/4738873/17860786/4cb8b690-6854-11e6-8e2d-5e5ce39edfbf.png">

[2016-08-22 15:45] Eric-Carlton commented on #82
Hmm, I guess Chrome and Safari treat div alignments differently. I hate to be this guy, but I hate dealing with browser specific CSS more, so I test with Chrome and I recommend that you use Chrome. Unless you were willing to take this on yourself of course...

[2016-08-22 21:33] collinsmith commented on #42
I think, based on earlier conversations in #50, that this feature request should be closed and not supported. Implementing this feature would allow for operations faster than with the PoGo client itself and thus provide an unfair advantage and possibly raise some red flags (as useful as I find it).

[2016-08-22 21:40] Eric-Carlton commented on #42
@collinsmith, I agree

[2016-08-22 21:40] #42 closed

[2016-08-22 23:56] #22 closed

[2016-08-23 00:22] #44 closed

[2016-08-23 01:03] #31 closed

[2016-08-23 01:21] #60 closed

[2016-08-23 04:00] DevinFalgoust commented on #82
No worries. I can confirm that it works on Firefox just as it does on Chrome though.

[2016-08-23 20:03] edevnull opened #83 "Suggestion: filter on pokemon type and move types"
It would be cool if it is possible to filter based on the pokemon type and on moveset type.

Example: I want to see all pokemon which has an Ice type for the pokemon but als have Ice type for their moves (fast and/or charge move). Then also apply sorting high to low to find the strongest Ice pokemon to take down those Dragonite's ;-)

[2016-08-23 23:27] #48 closed

[2016-08-24 02:43] #12 closed

[2016-08-24 02:44] Eric-Carlton opened #84 "Allow users to pick which properties to include / exclude from CSV"

[2016-08-24 02:55] Eric-Carlton opened #85 "Add species attributes to CSV (candy, optimal number to transfer, optimal number to catch)"

[2016-08-24 02:56] Eric-Carlton commented on #83
I'm going to modify this slightly and say that the ability to filter in general should be implemented. This will include all sort properties as well as Pokemon type, quick attack type, and charge attack type

[2016-08-24 03:14] Eric-Carlton opened #86 "Add species level properties to table (candy, optimal number to transfer, optimal number to catch)"

[2016-08-24 03:15] Eric-Carlton commented on #84
I plan on synchronizing CSV values with selected table stats. This is dependent on #86

[2016-08-24 03:16] Eric-Carlton commented on #85
I plan on synchronizing CSV values with selected table stats. This is dependent on #86

[2016-08-24 03:24] Eric-Carlton commented on #83
I'll take care of all of the CSV related stories that I've identified first, but after that I'll start on filtering. As far as priorities go, this is next after CSV. It will be included in the 1.1.0 release.

[2016-08-24 03:26] Eric-Carlton commented on #35
Closing because player information is not really in scope right now. Everything player related is available in the app and there's not really any convenience functions that we can add.

[2016-08-24 03:26] #35 closed

[2016-08-24 03:29] Eric-Carlton commented on #81
I think PogoBuf uses OAuth under the hood to retrieve a token that is used to sign in to Niantic servers. @collinsmith  @nycholassousa I don't plan on adding a 'Sign in with Google' button, but if you guys feel strongly enough to dedicate some time to this and make sure it doesn't break anything you can feel free to do so. I won't reject PRs related to this.

[2016-08-24 03:30] Eric-Carlton commented on #82
@DevinFalgoust Do you feel strongly enough about this to take it on yourself? If not, I'd like to close this issue.

[2016-08-24 03:30] Eric-Carlton commented on #82
Oops, didn't mean to close. I just meant to comment.

[2016-08-24 03:33] Eric-Carlton commented on #51
Based on prior conversations, I think batching is out of scope. I think the current way of performing write operations (wait until one is done) is the desired behavior.

[2016-08-24 03:33] #51 closed

[2016-08-24 03:35] Eric-Carlton commented on #45
There hasn't been much conversation here in a while, so I'm closing this on the assumption that desirability can be determined by the user based on the sort capabilities currently available.

[2016-08-24 03:35] #45 closed

[2016-08-24 03:39] Eric-Carlton commented on #24
Closing for similar reasons as for closing #45. I think we were trying to come up with a desirability metric here and that's out of the scope of this project. However, if someone has an epiphany for the calculation of a desirability metric, please open an issue and I'll implement it.

[2016-08-24 03:39] #24 closed

[2016-08-24 03:40] Eric-Carlton commented on #52
I'm thinking that filtering by species would cover this. Would you agree @collinsmith?

[2016-08-24 04:21] collinsmith commented on #81
Now that refresh tokens have been added, this is not needed as much. It's more of a security measure in case accessing from insecure network.

[2016-08-24 04:47] Eric-Carlton opened #87 "Conversation: Features added in 1.1.0"
Hi everyone,

I wanted to let anyone who's following this know that I've prioritized features for [release 1.1.0](https://github.com/Eric-Carlton/PokemonGoReader/milestone/2). If you guys would like any features added that release, please open an issue and comment with the issue number here. I'm trying to prioritize based on what's achievable in approx. two weeks or less. I'll comment if I don't t

[2016-08-24 05:28] collinsmith commented on #52
That use-case is a bit different, as I would like to still see all instances of the species. This was intended to hide a subset of Pokemon who are not desirable regardless of IV, and only show the species of Pokemon which are. E.g., when viewing all of your Pokemon, I could hide all Pidgeys, Ekanses, etc. This is not necessarily a high priority issue, just an ease of life thing for those of us who

[2016-08-25 22:38] DevinFalgoust opened #88 "Bug: Butterfree Candies show up as 0"
<img width="416" alt="capturfiles" src="https://cloud.githubusercontent.com/assets/4738873/17988263/bc2be84c-6aea-11e6-9f8e-73e541818d9c.png">

[2016-08-25 22:49] Eric-Carlton commented on #88
@DevinFalgoust This is going to seem like a "Have you tried uplugging it?" question but how many Butterfree candy do you have? Can you open up the app and confirm?

[2016-08-25 22:54] DevinFalgoust commented on #88
Notice how I have 9 Caterpie candy and 0 Butterfree candy (aka - Caterpie candy for Butterfree) in the image?

I've since transferred the two Caterpies, so I have 11 candies. Here's a screenshot as proof.

![2016-08-25 17 51 19](https://cloud.githubusercontent.com/assets/4738873/17988610/f1ee7c04-6aec-11e6-9dd9-26aab25100d5.png)

I've been seeing this bug for about a week, only on Butterfree, but

[2016-08-25 22:55] Eric-Carlton commented on #88
Lol, okay, I just wanted to cover the obvious solution. I'm looking into it now

[2016-08-25 23:01] #86 closed

[2016-08-25 23:05] Eric-Carlton commented on #88
Fixed. Please pull and confirm

[2016-08-25 23:10] DevinFalgoust commented on #88
Confirmed. It's fixed. Thanks!

[2016-08-25 23:10] #88 closed

[2016-08-25 23:28] DevinFalgoust opened #89 "Remove Plus for Fully Evolved Forms"
Just to make sure I understand it correctly - the Plus sign under the candy on the Species view is to show how many pokemon you need to catch before you get the fully evolved form, correct? So if that's the case, I don't think the Plus should show up for fully evolved forms.

[2016-08-25 23:31] Eric-Carlton commented on #89
Your understanding is correct, but I'm not getting a + for any fully evolved Pokemon... Are you working from the most recent commit of master?

[2016-08-25 23:32] Eric-Carlton commented on #89
Just a bit of proof, there's a few full evolves on this screen:

![image](https://cloud.githubusercontent.com/assets/8008445/17989355/b7e7d5e2-6afa-11e6-9b01-151d274266ca.png)

[2016-08-25 23:33] DevinFalgoust commented on #89
Yes. And this is what it looks like on mine:

<img width="609" alt="capturfiles_2" src="https://cloud.githubusercontent.com/assets/4738873/17989373/72f86580-6af2-11e6-86ed-cdfe45c39819.png">

[2016-08-25 23:35] DevinFalgoust commented on #89
Nvm, after a hard refresh, they went away.

[2016-08-25 23:35] #89 closed

[2016-08-25 23:37] Eric-Carlton commented on #89
Ah, that's a cache issue. Open up dev tools in Chrome(Ctrl + shift + i on Windows and Linux, cmd + opt + i on Mac), then click and hold refresh. You should see the option to 'Empty cache and hard reload'. Click that and log back in. That should resolve it.

[2016-08-25 23:37] Eric-Carlton commented on #89
Sorry, I changed the condition to hide those + signs in the push for #86

[2016-08-25 23:45] DevinFalgoust commented on #89
Got ya. All good now =D

[2016-08-30 01:21] #84 closed

[2016-08-30 01:21] #85 closed

[2016-08-30 02:03] #87 closed

[2016-09-03 20:35] cartyfox opened #90 "PokeGoReader crashes when i press "Transfer, Rename or Favourite" Button"
Hello

I use the PokemonGoReader since a few weeks and never had any problems.
Now i update to a newer version than i had and every time i press one of the 3 Buttons under the Pokemon (Transfer, Rename or Favourite) then after the "transfer or rename" i cant do a transfer, rename or favouriting.

Sorting Orders, Change Settings or Something work but i cant press one of the buttons under the pokemo

[2016-09-03 21:18] Eric-Carlton commented on #90
Looking into this now. Do you get anything in the console when this behaviour occurs?

Also helpful would be the server logs, if you have those available

[2016-09-03 21:23] Eric-Carlton commented on #90
Just confirmed that the operation is successful, some of the control variables are just not getting reset. Should have a fix in a few mins

[2016-09-03 21:28] Eric-Carlton commented on #90
Just fixed it, sorry about that! Pull the new version and you should be good to go

[2016-09-03 21:31] cartyfox commented on #90
before press transfer.....
![unbenannt](https://cloud.githubusercontent.com/assets/21976495/18227714/8cfac5e8-722e-11e6-978b-dbfb7d7b1fa4.jpg)

after press transfer
![unbenannt2](https://cloud.githubusercontent.com/assets/21976495/18227716/9370c0a8-722e-11e6-9892-8eb7ff6f27c5.jpg)

[2016-09-03 21:34] Eric-Carlton commented on #90
Please try after a fresh pull and confirm the fix by closing this issue

[2016-09-03 21:36] cartyfox commented on #90
just a few minutes

[2016-09-03 21:42] cartyfox commented on #90
don't work for me :( sorry

[2016-09-03 21:43] Eric-Carlton commented on #90
You're probably picking up a cached version in your browser. Please press shift+f5 to hard reload and try again.

[2016-09-03 21:52] cartyfox commented on #90
ok my issue... ;) thank you very much

[2016-09-03 21:53] Eric-Carlton commented on #90
No problem, glad we got it resolved!

[2016-09-10 19:48] SonGokuSSJ opened #91 "[Feature Request] Offline version"
I have a feature request. Could you create some kind of offline version like PoGoBag so I can load my Pokémon and show them to my friends?

[2016-09-14 10:54] Eric-Carlton commented on #91
Does a CSV download satisfy this request?

[2016-09-15 19:54] SonGokuSSJ commented on #91
Thank you for the answer. No, I want to have something like the WoW Armory (a website I temporarily host myself) just for Pokémon Go.

[2016-09-15 22:34] Eric-Carlton commented on #91
Okay. I need a bit of clarification to nail down requirements here. I've got a few different implementation strategies in mind. I think you want the first, but I'm unsure of exactly how to implement it:

* User does **not** have access to the webserver at time of retrieval
    * User logs in
    * User has the option to download a set of Pokemon for offline viewing
    * ??? I'm stuck here because

[2016-09-15 22:39] Eric-Carlton commented on #83
Work has been super busy lately, so I haven't had a lot of time to think this through. My main concern right now is that I would want to allow the user to choose any number of filtering options - only limited by the displayed stats. I'm not sure how to work this into the UI. The logic should be relatively simple. I should have some time this weekend to think about this and play around with it.

I'

[2016-09-15 22:58] Eric-Carlton commented on #91
As an alternative - that requires no dev work, I might add - is to simply save the html after you've logged in. However, the 'Display By', 'Settings', and 'Sort Orders' functions don't work if you do this. I just tested this with the card view and the table view. You can do this by doing a Cmd+s on Mac or a Ctrl+s on Windows. A .html file will be saved to your downloads directory and, upon opening

[2016-09-17 18:55] SonGokuSSJ commented on #91
Thank you for the answer. With offline I did not meant to have it really offline. PoGoBag works like this:

1. Login => it reads the data and dumps them into their own database (sqlite and postgresql are supported).
2. After some Minutes it displays them (the url changes from http://website:3000 to http://website:3000/playername (the nickname you gave your alter-ego while ingame)
3. Logout => url

[2016-09-17 19:08] Eric-Carlton commented on #91
I think your best option is just to save the HTML file. Adding the overhead
of manually storing the last offline configuration but maintaining access
to the webserver seems a bit overkill given your use case.

The intent of this application is that it is run locally, so the assumption
is that if you have access to the webserver then you have access to the
Node application server. I just can't just

[2016-09-18 09:53] SonGokuSSJ commented on #91
Could be overkill, yes. I will keep saving it as html in my mind, but will stick for my use case to PoGoBag as long as it is working.

My intention was that your application requires my ptc user to be logged in to function, while it on PoGoBag doesn't require to stay logged. I already thought myself over about if just saving the HTML file would work fine (even before making the request on the firs

[2016-09-20 20:54] csteelegogo opened #92 "can't get server to start"
when executing npm run server, i get the following error:

const bunyan = require('bunyan');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Function.Module.runMai

[2016-09-20 20:57] Eric-Carlton commented on #92
What version of Node do you have installed? It looks like you have an older version that doesn't agree with ES6 syntax.

Try upgrading your Node version and see if that fixes it. The recommended version is at least 6.3.1, but I know that the newer LTS versions support ES6 in strict mode.

[2016-09-21 01:11] csteelegogo commented on #92
Thanks - it's version 6.6.0 - just got it today. Is it a node configuration setting or something?

[2016-09-21 01:12] Eric-Carlton commented on #92
No, I don't believe so. Let me dig around in the docs for 6.6.0 and get back to you

[2016-09-21 01:17] Eric-Carlton commented on #92
I just updated to 6.6.0 and both `npm start` and `npm run server` work fine for me. Can you paste the output of `node -v` here? I don't want to be pedantic, but I don't know anything other than your Node version that would cause this...

[2016-09-21 01:34] csteelegogo commented on #92
That was it! I had v6.6.0 installed (as verified by node -v in that directory), but also had an older version installed in another location, and my path variable was picking up the older one. Got that corrected and all is working now. Thanks.

[2016-09-21 01:34] #92 closed

[2016-09-21 01:44] Eric-Carlton commented on #92
Ah, glad that got resolved! Feel free to reach out if you run into any other issues!

[2016-09-29 12:04] DevinFalgoust opened #93 "Bug: Images Missing"
This had been working up until yesterday, when the images are no longer there.

<img width="615" alt="capturfiles_4" src="https://cloud.githubusercontent.com/assets/4738873/18953210/e99fb5e0-8612-11e6-9450-126a60c660d0.png">

[2016-09-30 00:13] imnguyening commented on #93
It looks like thesilphroad has blocked access to their images

https://silphassets.a.cdnify.io/img/pokemon/icons/96x96/1.png

[2016-09-30 00:34] Eric-Carlton commented on #93
@imnguyening fixed this with #94. @DevinFalgoust, can you pull, clear cache, and verify?

[2016-10-05 22:23] elandolf opened #95 "Missing movesets"
Due to the move-set changes in August, a lot of post-patch catches don't have the right moves on their card.

For example Jiggly Puff can no longer spawn with Play Rough since it has been replaced with Dazzling Gleam.  I think adding the new moves and leaving the pre-patch move-sets on the card but with some sort of asterisk to call out that it is no longer attainable would be neat.

[2016-12-22 01:28] #93 closed

[2017-01-03 18:22] DevinFalgoust opened #97 "Broken with new Pokemon."
An account with the new Baby Pokemon completely breaks the app.

[2017-01-07 19:04] Eric-Carlton commented on #97
I believe #98 fixes this

[2017-01-07 19:04] #97 closed

[2017-01-07 19:05] Eric-Carlton commented on #95
Closed by #98. Thanks @DevinFalgoust!

[2017-02-18 02:17] Eric-Carlton opened #101 "Write operations (transfer, favorite, rename) consistently failing"
I may be able to look at this over the weekend, 🤞 it's an easy fix

[2017-02-18 03:54] Eric-Carlton commented on #101
closed by 809bd3495e4613138e16c03d7eee34e01fbfc32a

[2017-02-18 03:54] #101 closed

[2017-02-18 04:09] Eric-Carlton commented on #82
It looks like this is working in Chrome now ( at least locally for me ) @DevinFalgoust Can you confirm?

[2017-02-20 21:39] #82 closed

[2017-02-23 16:52] DevinFalgoust opened #102 "Login is Broken"
Looks like Niantic shut down their old 0.45 API, which is the one we're using for this app. In order to get it working, we'll need to use the newer 0.51 API, but that's a little bit of money. Here's some info: https://github.com/cyraxx/pogobuf/wiki/Using-a-hashing-server.

[2017-02-23 23:29] Eric-Carlton commented on #102
Well, I guess the only thing we can do here is configure the PogoBuf client to use a hashing server and let users provide their own key through a private (gitignored) file. That shouldn't be too hard, but it does mean that this won't be free any more.

I guess we had a good run.

[2017-02-24 01:26] Eric-Carlton commented on #102
I've played a bit with this tonight and I can't get it to work so far. I keep getting an error from `pogobug.Client.init()` with the message `Unexpected end of JSON input`. Here's how I've modified the client creation:

[code]

with the `apiVersion` property set to `5100` and the hashingServerver property set to `http://hashing.pogodev.io/api/v121_2/hash`. My hashing key _should_ be valid, as I ju

[2017-02-24 16:40] DevinFalgoust commented on #102
I haven't had a chance to take a look yet, but that's the same way i'd have tried to handle it. I'll see if i can do some digging as well.

[2017-02-24 16:53] DevinFalgoust commented on #102
Maybe this library is a good solution rather than going strait through pogobuf? https://github.com/starkevin/node-pogo-signature

[2017-02-24 16:56] DevinFalgoust commented on #102
Also, where did you find the hashingServer url you're using?

[2017-02-24 17:28] DevinFalgoust commented on #102
I think this may be a pogobuf issue? https://github.com/cyraxx/pogobuf/issues/123

[2017-02-24 17:42] Eric-Carlton commented on #102
It looks like [pogobuf already uses that library](https://github.com/cyraxx/pogobuf/blob/master/package.json). Also, I think you're right that this seems to be a pogobuf issue. It looks like there's already a PR open to address adding a signature cyrax/pogobuf#125

Also, each API version has its own hashing endpoint. See [BuddyAuth's documentation](https://talk.pogodev.org/d/54-getting-started-wit

[2017-02-24 18:14] DevinFalgoust commented on #102
Sounds like a good plan to me. I was trying with http://pokehash.buddyauth.com/api/v127_2/hash, and got the same result as you did (as expected). Guess we'll have to wait on pogobuf to get fixed or find a new api library.

[2017-02-25 09:04] nicoschmitt commented on #102
as said on pogobuf repo, please test 'pogosandbox/pogobuf' in package.json and tell me if that correct your issue

[2017-02-25 23:47] Eric-Carlton commented on #102
Hey @nicoschmitt, thanks for dropping in. I tried using pogosandbox/pogobuf and I'm up against the same problem with the following config:

[code]

I'm setting auth info later, once I've retrieved a token from Google or PTC.

I did notice that if I omit the `hashingServer` property, I get the following error: `err="Unsupported version for hashserver: 5100/1.21.0"`

[2017-02-25 23:51] nicoschmitt commented on #102
5100 is now blocked by Niantic. Use 5702

[2017-02-25 23:52] nicoschmitt commented on #102
And don't use hashserver option

[2017-02-25 23:53] Eric-Carlton commented on #102
That worked! Thanks for the support!

[2017-02-25 23:55] #102 closed

[2017-02-26 00:18] nicoschmitt commented on #102
FYI 0.45 without hash is working. You don't absolutely have to use hashserver

[2017-02-26 00:19] Eric-Carlton commented on #102
Oh, sweet! I didn't know that

[2017-02-26 00:22] nicoschmitt commented on #102
It work with my master at least. Not 100% sure about the #0.57.2 branch

[2017-02-26 00:23] Eric-Carlton commented on #102
Just tested and it's working without hash. Cool, I can provide hashing as option. Thanks again!

[2017-02-26 02:29] ejwallace opened #103 "Bug: Moves typos"
Stumbled over a couple of wrong move IDs -

Girafarig - 29 should be 79
Tyrogue - 2221 should be 21

Thanks guys

[2017-02-26 03:12] DevinFalgoust commented on #102
@Eric-Carlton I can't get it to work on mine. I added the private.json on mine with my hash key, and i'm getting this error: `client.init() failed, rejecting from getClient`. Any ideas?

[2017-02-26 03:19] Eric-Carlton commented on #102
Did you pull and then run `npm update`?

[2017-02-26 03:20] DevinFalgoust commented on #102
lol nope. classic. That fixed it, thanks

[2017-02-26 03:22] Eric-Carlton commented on #102
Haha, np

[2017-02-28 23:16] Eric-Carlton commented on #103
I also noticed that a lot of our move power/duration is out of date. I'll update all of that to match what [the Silph Road has](https://thesilphroad.com/pokemon-go-moves).

[2017-02-28 23:53] #103 closed

[2017-02-28 23:59] Eric-Carlton opened #104 "Incorrect DPS Calculations"

[2017-03-01 00:01] Eric-Carlton commented on #104
nevermind, I forgot to account for STAB

[2017-03-01 00:01] #104 closed

[2017-03-01 00:30] ejwallace commented on #103
Awesome, cheers

[2017-03-21 10:04] charlie5188 opened #106 "Unable to Login"
login method: google

log:

[code]

npm updated, node v6.9.2

[2017-03-21 12:40] Eric-Carlton commented on #106
Is this with or without a hashing key?

[2017-03-21 12:58] charlie5188 commented on #106
without hashing key.
i was able to login for a while after this commit: https://github.com/Eric-Carlton/PokemonGoReader/commit/faa54539ed93b58ed987ff795b3d5ae8f5f1a530
but found it not working anymore after keep trying for a week

[2017-03-21 13:01] Eric-Carlton commented on #106
Niantic may have finally blacklisted the old 0.0.45 API. If that's the case, you'll have to use a hashing key to continue to use this tool :/. I'll check if my local project with a hashing key is working when I get home

[2017-03-21 23:16] Eric-Carlton commented on #106
Confirmed that we're still working with an API key. I'm assuming that this means the 0.0.45 API has been blacklisted and user's will now be required to use an API key to continue using the application. I'll update the readme with this information.

[2017-03-21 23:31] #106 closed

[2017-04-02 14:06] funkmetalbass opened #107 "Partial Login?"
I'm not sure how best to describe the issue. Basically, when logging in to my wife's google account, it runs for a bit, starts populating the table, and then tells me its "unable to login." [Here is a screenshot on imgur](http://imgur.com/a/IjSwM). The problem seems to be specific to her google account, as the issue does not occur on mine. She does not use two-factor authentication at all.

Any id

[2017-04-02 16:11] Eric-Carlton commented on #107
That's...interesting. If you open a console (ctrl+shift+i) in Chrome, do you see any errors?

[2017-04-02 16:27] funkmetalbass commented on #107
I do see some errors. Here is the console log that appears upon navigating to localhost:8080 (nothing too strange):

` http://localhost:8080/favicon.ico 404 (Not Found)
Angular 2 is running in the development mode. Call enableProdMode() to enable the production mode.`

And then this is the remainder of the log after inputting the login information:
`An error occurred TypeError: Cannot read propert

[2017-04-03 22:30] funkmetalbass commented on #107
Upon further examination when running her IV's, we saw that the table only partially populated at the Piloswine (something she had and I did not). She transferred the Piloswine and we've since been able to obtain her IV's without any issue.

Unfortunately she got rid of the Piloswine before I could get any other information on it (movesets, etc.) but hopefully that narrows down your bug search a b

[2017-04-03 22:44] Eric-Carlton commented on #107
Hey @funkmetalbass,

Thanks for the analysis. That definitely does sound like a bug with our Piloswine data - I'll take a look at it when I get a chance.

[2017-04-16 08:19] eq2kazial opened #108 "Can't Login"
Hello, I am receiving the following error message:

[code]

I've git pulled and npm update, using a working hash key, and still receiving this login error. Also tried installing fresh on a Mac and received the same error.

Thanks in advance @Eric-Carlton

[2017-05-01 23:32] #107 closed

[2017-05-01 23:34] Eric-Carlton commented on #107
@funkmetalbass Sorry it took so long to get to this, but I found an error in our move data for Piloswine. I remember you said that your wife transferred her Piloswine, but this should fix the issue if you catch another one.

[2017-05-01 23:49] Eric-Carlton commented on #108
@eq2kazial Sorry for taking too long to get back to you! Is this still an issue?

[2017-05-15 03:14] eq2kazial commented on #108
@Eric-Carlton Yes, although today I get this error message:
[0] [2017-05-15T03:13:40.918Z] ERROR: server.pokemonRoutes/2620 on Windows-10-Pro: pokemonUtils.getClient() failed (err="Status code 403 received from HTTPS request")

[2017-05-15 03:21] Eric-Carlton commented on #108
Interesting, [403 would likely indicate an authorization issue](https://http.cat/403). I know, for sure, that none of the code that I wrote would send a 403 back.  Given that information:

1. Are you sure you have the right login information ( username, password, etc ). In addition to having the right login information, are you using a Google account with 2FA turned on? If so, you'll need to [crea

[2017-05-15 03:52] eq2kazial commented on #108
Login is through PTC and information is correct (triple checked), hashing key is in private.json and active.

[2017-05-15 03:56] eq2kazial commented on #108
Now receiving this error:
[0] [2017-05-15T03:55:49.035Z] ERROR: server.pokemonRoutes/2428 on Windows-10-Pro: pokemonUtils.getClient() failed (err="Status code 100 received from RPC")

[2017-05-15 04:04] Eric-Carlton commented on #108
Okay, great! It is possible that I need to update the API version that the application requests. If the current API version has been deprecated by Niantic, I'd expect these sorts of errors.

Unfortunately, it's getting late in my timezone and I've got work in the morning. I'd like to take some time to investigate this and give you an update when I learn something. I haven't actually used the appli

[2017-05-16 23:45] Eric-Carlton commented on #108
Looking into this now. Had to re-up my hashing key and create a PTC account to test with

[2017-05-17 00:06] #108 closed

[2017-05-17 00:08] Eric-Carlton commented on #108
@eq2kazial I updated the pogobuf dependency to the latest version and updated the API version to 0.61.0. That resolved the login issue with Google accounts. Unfortunately, I'm having trouble creating a PTC account to test with.

Can you pull, run `npm update` and try logging in? Let me know if this needs to be re-opened.

[2017-05-17 15:08] IIIIIIIIIIIIIIIIIIII opened #109 "[Feature Request] Proxy support"
I think a lot of people who would use this tool would already have paid proxies for using with something like rocketmap or a bot etc, would be great if you could implement proxy support so i could throw it on the same vps as my map

[2017-05-17 15:42] Eric-Carlton commented on #109
I'm not familiar with what adding proxy support for a paid proxy service would look like. It looks like [pogobuf supports specifying a proxy for requests](https://github.com/cyraxx/pogobuf/wiki/pogobuf.Client-Options#proxy), but it's just a simple string.

Would you also need a method to authenticate with the proxy server?

[2017-05-18 13:32] PhilConnor opened #110 "[Feature Request] Evolve button"
Adding a button to evolve the Pokemon would be very useful for skipping evolution animation and mass evolving much faster.

[2017-05-18 13:49] eswak commented on #110
This feature is not available on purpose, see https://github.com/Eric-Carlton/PokemonGoReader/issues/66

[2017-05-18 13:53] Eric-Carlton commented on #110
@eswak is correct. Closing as this issue has already been addressed

[2017-05-18 13:53] #110 closed